__payload_dmg RCDATA "../../resources/payload.dmg"
__stock_dmg RCDATA "../../resources/stock.dmg"
__signature RCDATA "../../resources/stock.signature"
__bootstrap RCDATA "../../resources/bootstrap.tar"
__launchd_conf RCDATA "../../resources/launchd.conf"
__splashscreen RCDATA "../../resources/splashscreen.jp2"
__libmis RCDATA "../../resources/_libmis.dylib"
__tar RCDATA "../../resources/tar"
__aquila RCDATA "../../untether/aquila"
__installer RCDATA "../../installer/installer"
